################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ControllersAndActions/.vs/ControllersAndActions/v15/Server/sqlite3
